body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #e0f7fa, #f9fbe7);
  color: #333;
  min-height: 100vh;
  overflow-y: auto;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a0d3b9;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #e6f2ed;
}

/* ===== Container for Everything ===== */


/* Dark mode base styles */
/* body.dark-mode {
  background: linear-gradient(to right, #1c1c1c, #2d2d2d);
  color: #0a0a0a;
} */

.dark-mode .navbar {
  background: rgba(40, 40, 40, 0.75);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

body.dark-mode .search-input {
  background: rgba(255, 255, 255, 0.1);
  color: #f0f0f0;
}

.dark-mode .filter-dropdown:focus,
.dark-mode .filter-dropdown {
  background: rgba(70, 70, 70, 0.9);
  color: #f5f5f5;
  border: 1px solid #555;
}

body.dark-mode .profile-menu {
  background: #2c2c2c;
  color: #fff; /* ensure text is white */
}



.dark-mode .search-input::placeholder {
  color: #c5a5a5;
}

.dark-mode .filter-dropdown {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
}

.dark-mode .todo-list {
  background-color: #333;
  color: #eee;
}

.dark-mode .todo-details,
.dark-mode .todo-category,
.dark-mode .todo-date {
  color: #ccc;
}

.dark-mode .Todo-Form {
  background: #2c2c2c;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.dark-mode .Todo-Form input,
.dark-mode .Todo-Form select {
  background-color: #444;
  color: #f5f5f5;
  border-color: #666;
}

.dark-mode .Todo-Form input::placeholder {
  color: #aaa;
}

.dark-mode .Todo-Form button {
  background-color: #4ea685;
}

.dark-mode .profile-menu {
  background: #535353;
  color: #eecaca;
}

.dark-mode .profile-menu a {
  color: rgb(227, 219, 219);
}


/* .dark-mode .profile-menu li:hover {
  background: #444;
  color: white;
} */


